<div id="myCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
    {% assign posts = site.posts | where: 'carousel', true | sort: "index" %}
    <div class="carousel-indicators">
        {% for post in posts %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{forloop.index0}}" {% if forloop.first %}
            class="active" aria-current="true" {% endif %}></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for post in posts %}
        {% if forloop.first %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
            <div>
                {% for banner in post.banners %}
                <img class="cycle" src="{{banner}}"
                {% if forloop.first %}
                style="animation-delay: -2s;"
                {% elsif forloop.last %}
                style="animation-delay: 0s;"
                {% else %}
                style="animation-delay: -4s;"
                {% endif %}
                />
                {% endfor %}
            </div>

            <div class="container">
                {% if forloop.first %}
                <div class="carousel-caption text-start">
                {% elsif forloop.last %}
                <div class="carousel-caption text-end">
                {% else %}
                <div class="carousel-caption">
                {% endif %}
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.excerpt | strip_html }}</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ post.url }}">Continue reading...</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>