<div id="myCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for post in site.posts %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{forloop.index0}}" 
            {% if forloop.first %}
            class="active" aria-current="true" 
            {% endif %}
            ></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for post in site.posts %}
        {% if forloop.first %}
        <div class="carousel-item">
        {% else %}
        <div class="carousel-item active">
        {% endif %}
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                {% if forloop.first %}
                <div class="carousel-caption text-start">
                {% elsif forloop.last %}
                <div class="carousel-caption text-end">
                {% else %}
                <div class="carousel-caption">
                {% endif %}
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.excerpt | strip_html }}</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ post.url }}">Continue reading...</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>